<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="qaclickacademy.Validatenavigationbar"/>
      <class name="qaclickacademy.HomePage"/>
      <class name="qaclickacademy.AppTest"/>
      <class name="qaclickacademy.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
